<!-- templates/admin/base_site.html -->
{% extends "admin/base.html" %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}">
{% endblock %}

{% block extrahead %}
    <!-- Include AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!-- Other additional scripts or libraries -->
{% endblock %}

{% block content %}
    <!-- The default content of the admin base template -->
{% endblock %}

